<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    <ion-title>{{'groups.lbl_tittle' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col *ngFor="let group of getGroupList() | async" size="12" size-sm="6" size-lg="3" class="ion-align-self-center">
        <app-group [jsonCardBody]="jsonCardBody" [group]="group" (onUpdate)="onUpdateGroup($event)" (onDelete)="onDeleteGroup($event)" (onDetail)="onDetailGroup($event)"></app-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button color="primary" (click)="onAddGroup()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
