<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    <!--Traducir-->
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let group of getGroupList() | async">
    <app-group [jsonCardBody]="jsonCardBody" [group]="group" (onUpdate)="onUpdateGroup($event)" (onDelete)="onDeleteGroup($event)"></app-group>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button color="primary" (click)="onAddGroup()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
