<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label></ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Nombre</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Apellido</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Email</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Fecha De Nacimiento</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Codigo Postal</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Telefono</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Inscripcion</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
