#center{
    display: grid;
    place-items: center;
    height: 90vh;
}

ion-img{
    width:60px;
}
#centerTitle{
    display: grid;
    place-items: center;
    margin-top: 10%;
    margin-left: 15%;
}

.ion-color-light {
    --ion-color-contrast: var(--ion-color-light-contrast, #ffffff) !important;
}
