<<<<<<< HEAD
#center{
    display: grid;
    place-items: center;
    height: 80vh;
}

ion-img{
    width:100px;
}
#centerTitle{
    display: grid;
    place-items: center;
    margin-top: 10%;
    margin-left: 15%;
}
=======
#center{
    display: grid;
    place-items: center;
    height: 80vh;
}

ion-img{
    width:100px;
}
#centerTitle{
    display: grid;
    place-items: center;
    margin-top: 10%;
    margin-left: 15%;
}
>>>>>>> 013b82b0a1f57d89709e310a207ac7edf3e3733b
