
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div id="center">
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-img src="../../../../assets/logo/logo.png"></ion-img>
              </ion-col>
              <ion-col>
                
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-item>
                    <!--Añadir a Traductor-->
                    <ion-label>Email</ion-label>
                    <ion-input [enterkeyhint]="'next'" autocomplete="email" placeholder="jbenrui@fitnessgym.es" formControlName="email" type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
        <!--Añadir a Traductor-->
        <ion-button [disabled]="!form.valid" type="submit" fill="clear">Send</ion-button>
      </ion-card>
    </div>
  </form>
</ion-content>
