<ion-header>
  <ion-toolbar>
    <ion-img slot="end" src="../../../../assets/logo/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="currentImage.value">
      <ion-img class="img-user" [src]="currentImage$"></ion-img>
    </ng-container>

    <ng-container *ngIf="!currentImage.value">
      <ion-img class="img-user" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
    </ng-container>
    <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
    <ion-button *ngIf="(platform.isNative$ | async)" expand="full" id="picture-button" (click)="getPictureFromInputFile(fileLoader)"> {{'change-picture.title' | translate}}</ion-button>
    <ion-button *ngIf="!(platform.isNative$ | async)" expand="full" (click)="changePic(fileLoader, 'file')">{{'change-picture.title' | translate}}</ion-button>
    <ng-container *ngFor="let control of jsonConfigUserForm?.config || []; let i = index;" >
      <ion-item *ngIf="getHeaders()[i] === 'Birthdate'" lines="none">
        <ion-label class="label">{{getHeaders()[i]}}: </ion-label>
        <ion-input [formControlName]="control.ID"></ion-input>
      </ion-item>
      <ion-item *ngIf="getHeaders()[i] !== 'Birthdate'" lines="none">
        <ion-label class="label">{{getHeaders()[i]}}:</ion-label>
        <ion-input [formControlName]="control.ID"></ion-input>
      </ion-item>
      
    </ng-container>    
    <ion-button [disabled]="!form.valid" type="submit">Editar</ion-button>
  </form>
</ion-content>
