#center{
    display: grid;
    place-items: center;
    height: 100vh;
}

.forgetPassword {
    font-size: smaller;
    text-align: center;
}


ion-card{
    margin: 10px;
}

.text-center{
    margin: auto;
    width: 50%;
}