<ion-content>
  <form [formGroup]="form" (ngSubmit)="signIn()">
    <div id="center">
      <ion-card>
        <ion-card-header>
          <div class="text-center">
            <ion-img src="../../../../assets/logo/logo.png"></ion-img>
          </div>
        </ion-card-header>
      
        <ion-card-content>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>{{'login.lbl_session' |translate}}: {{sessionData}}</ion-label>
                    <ion-label>{{lastSessionDate | date:'mediumDate':'es-es'}}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item>
              <ion-label>{{'login.lbl_email' | translate}}</ion-label>
              <ion-input [enterkeyhint]="'next'" autocomplete="email" placeholder="jbenrui@fitnessgym.es" formControlName="identifier" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{'login.lbl_password' | translate}}</ion-label>
              <ion-input placeholder="Xafwg1-" (keyup.enter)="form.valid?signIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-button class="forgetPassword" (click)="recoverPassword()" color="primary" fill="clear">
              <small>{{'login.signIn.lbl_forgetPassword' | translate}}</small>
            </ion-button>
        </ion-card-content>
        <ion-button [disabled]="!form.valid" (click)="signIn()" fill="clear">{{'login.btn_signin' | translate}}</ion-button>
        <ion-button fill="clear" (click)="signUp()">{{'login.btn_signup' | translate}}</ion-button>
      </ion-card>
    </div>
  </form>
</ion-content>
  
