/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

.logout{
  display: flex;
  padding-right: 25px;
}
.edit{
  display: flex;
  
}

ion-img.md {
  margin-top: 15%;
}

ion-icon{
  padding-right: 10px;
}

.img-center{
  margin:auto;
}

.label{
  font-size: 15px;
  padding-left: 10px;
}

  /* Estilos para pantallas inferiores a 600px */
  @media (max-width: 600px) {
      ion-img{
          margin-top: auto;
          width: 300px;
          margin: auto;
          padding-right: 20px;
      }
    }
  
  /* Estilos para pantallas superiores a 600px */
  @media (min-width: 600px) {
    ion-img{
        margin-top: auto;
        width: 400px;
        margin: auto;
        padding-right: 20px;
    }
  }

  /* Estilos para pantallas inferiores a 400px */
  @media (max-width: 400px) {
    ion-img{
        margin-top: 10px;
        width: 290px;
        margin: auto;
        padding-right: 20px;
    }
  }

  /* Estilos para pantallas inferiores a 380px */
  @media (max-width: 395px) {
    ion-img{
      padding-top: 90px;
        width: 220px;
        margin: auto;
        padding-right: 20px;
    }
  }