<ion-header>
  <ion-toolbar>
    <ion-img slot="end" src="../../../../assets/logo/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ng-container *ngIf="client?.photo">
          <ion-img class="img-user" [src]="client?.photo"></ion-img>
      </ng-container>
      <ng-container *ngIf="!client?.photo">
          <ion-img class="img-user" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      </ng-container>
    </ion-item>
    <ion-item *ngFor="let attribute of getAttributes(); let i = index;">
      <ion-label class="label">{{getHeaders()[i]}}:</ion-label>
      <ion-label *ngIf="getTypes()[i] === 'Date'" class="label">
        {{ client[attribute] | date: 'mediumDate': 'es-es' }}
      </ion-label>
      <ion-label *ngIf="getTypes()[i] === 'Inscription'" [ngClass]="{ 'highlighted': compareDatesWithOffset() }">
        {{ client[attribute] | date: 'mediumDate': 'es-es' }}
        <ion-text *ngIf="compareDatesWithOffset() && getTypes()[i] === 'Inscription'" [ngClass]="{ 'highlighted2': compareDatesWithOffset() }">
          Expiró la inscripción
        </ion-text> 
      </ion-label> 
      <ion-label *ngIf="getTypes()[i] !== 'Date' && getTypes()[i] !== 'Inscription'" class="label">
        {{ client[attribute] }}
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

