<ion-header>
  <ion-toolbar class="bg-animation">
    <ion-button slot="start" [routerLink]="['../config-user']" color="primary" fill="clear">
      <ion-text>{{'config.lbl_tittle' | translate}}</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-client-header-table [jsonTableBody]="jsonTableBody"></app-client-header-table>
  <ng-container *ngFor="let client of getClientList() | async">
    <app-client-table [client]="client" [jsonTableBody]="jsonTableBody" (onUpdate)="onUpdateClient($event)" (onDelete)="onDeleteClient($event)" (onDetail)="onDetailClient($event)"></app-client-table>
  </ng-container>
  
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button color="primary" (click)="onAddClient()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
