<ion-header>
  <ion-toolbar class="bg-animation">
    <ion-button slot="start" [routerLink]="['../config-user']" color="primary" fill="clear">
      <ion-text>{{'config.lbl_tittle' | translate}}</ion-text>
    </ion-button>
    <ion-button slot="start" [routerLink]="['../groups']" color="primary" fill="clear">
      <ion-text>{{'groups.lbl_tittle' | translate}}</ion-text>
    </ion-button>
    <ion-button slot="start" [routerLink]="['../clients']" color="primary" fill="clear">
      <ion-text>{{'clients.lbl_client' | translate}}</ion-text>
    </ion-button>
    <ion-button slot="start" [routerLink]="['../aboutme']" color="primary" fill="clear">
      <ion-text>{{'aboutme.title' | translate}}</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-grid">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img alt="User-img" [src]="user.photo" class="img-card"></ion-img>
            <ion-card-header>
              <ion-card-title>{{'general.lbl_welcome' | translate}} {{user.first_name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
