<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="client?.image">
          <ion-avatar>
            <ion-img [src]="client?.image" ></ion-img>
          </ion-avatar>
        </ng-container>
      
        <ng-container *ngIf="!client?.image">
          <ion-avatar>
            <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
          </ion-avatar>
        </ng-container>
      </ion-col>
      <ion-col>
        <ion-label>{{client?.name}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{client?.surname}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{client?.birthdate}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{client?.inscription}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
