<ion-item>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ng-container *ngIf="client?.photo">
          <ion-avatar>
            <ion-img [src]="client?.photo" ></ion-img>
          </ion-avatar>
        </ng-container>
      
        <ng-container *ngIf="!client?.photo">
          <ion-avatar>
            <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
          </ion-avatar>
        </ng-container>
      </ion-col>
      <ng-container *ngFor="let attribute of getAttributes(); let i = index;">
        <ion-col [ngSwitch]="getTypes()[i]">
          <ion-label class="label" *ngSwitchCase="'Date'">
            {{client[attribute] | date:'mediumDate':'es-es'}}
          </ion-label>
          <ion-label [ngClass]="{ 'highlighted': compareDatesWithOffset() }" *ngSwitchCase="'Inscription'">
            {{client[attribute] | date:'mediumDate':'es-es'}}
          </ion-label>
          <ng-container *ngIf="compareDatesWithOffset()">
            <ion-text *ngSwitchCase="'Inscription'">
              <!--Traducir-->
              Expiro la inscripcion
            </ion-text>
          </ng-container>
          <ion-label class="label" *ngSwitchDefault>
            {{client[attribute]}}
          </ion-label>
          <ion-label class="label" *ngSwitchCase="'Action'">
            <ion-button color="success" id="edit" (click)="onUpdateClick()"><ion-icon name="create-outline"></ion-icon></ion-button>
            <ion-button color="danger" id="delete"(click)="onDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
            <ion-button color="tertiary" id="details" (click)="onDetailClick()"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </ion-label>
          
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>
</ion-item>
