<ion-header>
  <ion-toolbar class="bg-animation">
    <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    <ion-title>{{'config.lbl_tittle' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-config-user-component [user]="(user.user$ | async)" [jsonConfigUser]="jsonConfigUser" (onUpdate)="onUpdateUser($event)" (onLogout)="signOut($event)" (onDelete)="onDeleteUser($event)"></app-config-user-component>
  </div>
</ion-content>
