.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logout{
    display: flex;
    margin-top: 10px;
  }
  .edit{
    display: flex;
    margin-top: 10px;
  }

.bg-animation {
    --background: #333333 !important;
}