<ion-header>
  <ion-toolbar>
    <ion-img slot="end" src="../../../../assets/logo/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="currentImage.value">
      <ion-img class="img-user" [src]="(currentImage$ | async)"></ion-img>
    </ng-container>

    <ng-container *ngIf="!currentImage.value">
      <ion-img class="img-user" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
    </ng-container>
    <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
    <ion-button *ngIf="(platform.isNative$ | async)" expand="full" fill="clear" id="picture-button"> {{'btn_common.btn_change_picture' | translate}}</ion-button>
    <ion-button *ngIf="!(platform.isNative$ | async)" expand="full" fill="clear" (click)="changePic(fileLoader, 'file')">{{'btn_common.btn_change_picture' | translate}}</ion-button>
    <ng-container *ngFor="let control of jsonFormClient?.config || []; let i = index;" >
      <ion-item *ngIf="getHeaders()[i] === 'Birthdate'" lines="none">
        <ion-label class="label">{{getHeaders()[i]}}: </ion-label>
        <ion-input [formControlName]="control.ID"></ion-input>
      </ion-item>
      <ion-item *ngIf="getHeaders()[i] !== 'Birthdate'" lines="none">
        <ion-label class="label">{{getHeaders()[i]}}:</ion-label>
        <ion-input [formControlName]="control.ID"></ion-input>
      </ion-item>
      
    </ng-container>    

    <div id="changePic">
      <ion-popover *ngIf="platform.isNative$ | async" style="width:100%" trigger="picture-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item lines="inset" (click)="changePic(fileLoader, 'library')" [button]="true" [detail]="false">
                <ion-icon slot="start" name="images-outline"></ion-icon>
                <ion-label>{{'change-picture.library' | translate}}</ion-label>
              </ion-item>
              <ion-item lines="inset" (click)="changePic(fileLoader, 'camera')" [button]="true" [detail]="false">
                <ion-icon slot="start" name="camera-outline"></ion-icon>
                <ion-label>{{'change-picture.camera' | translate}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
    <ion-button [disabled]="!form.valid" type="submit" expand="full">{{mode=="Edit"?['formGeneral.btn_update' | translate]:['formGeneral.btn_add' | translate]}}</ion-button>
  </form>
</ion-content>
